doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF' crossorigin='anonymous')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')
  link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Poppins')
  link(rel='stylesheet' href='style2.css')
  title info screen BS
#AARHUSTECH.AARHUSTECH AARHUSTECH
#Klokken.klokken 15:30
#dato.dato 08 Oktober 2021
#aktiviter.aktiviter aktiviter
.(class='netværksstatus' id='netværksstatus') Netv&aelig;rksstatus
#info.info
  | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
  | classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
  | Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
  | Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
  | source.Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of &quot;de Finibus Bonorum et Malorum&quot; (The Extremes of
  | Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during
  | the Renaissance. The first line of Lorem Ipsum, &quot;Lorem ipsum dolor sit amet..&quot;, comes from a line in section
  | 1.10.32.The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
  | Sections 1.10.32 and 1.10.33 from &quot;de Finibus Bonorum et Malorum&quot; by Cicero are also reproduced in their exact
  | original form, accompanied by English versions from the 1914 translation by H. Rackham.
.kontakt
  .instruktoer
    p
      | Ulrich kan kontaktes p&aring;: 
      br
      br
      |            mail: 
      a(href='') umf@aarhustech.dk
      br
      |            Telefon: 
      a(href='') 61987304
    br
    p
      | Karsten kan kontaktes p&aring;: 
      br
      br
      |             mail: 
      a(href='') krs@aarhustech.dk
      br
      |             Telefon: 
      a(href='') 22234565
    br
    p
      | Simon kan kontaktes p&aring;: 
      br
      br
      |             mail: 
      a(href='') sas@aarhustech.dk
      br
      |             Telefon: 
      a(href='') 22234166
  .skp_website
    | Alt hvad du skal vide om skp finder du her: 
    br
    br
    div(style=' text-decoration: underline;')  www.ats-skpdatait.dk 
    br
    br
    br
    |             Hvis du mangler noget bestiller du det her: 
    br
    br
    div(style=' text-decoration: underline;')  www.inventar.ats-skpdatait.dk
