* {border-radius: 7px;}

body {
    background-color: #ffff ;
    font-family: 'poppins', serif;
    padding: 0px;
    margin: 0px;
}

.AARHUSTECH {
    font-size: 70px;
    padding: 0px 20px 0px;
}

.klokken {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 50px;
    padding: 0px 5px 0px;
}

.dato {
    position: absolute;
    top: 70px;
    right: 3%;
}

.aktiviteter {
    background-color: #e62613;
    background: linear-gradient(to bottom, #e62613, #a81b0e);
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    width: 97%;
    margin: 20px;
    color: white;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.27);
}

.netvaerksstatus {
    background-color: lightgrey;
    position: absolute;
    padding-top: 2px;
    padding-left: 10px;
    height: 25px;
    width: 145px;
    top: 127px;
    left: 87.5%;
}

.info {
    padding: 40px 30px 0px;
    margin-left: 2rem;
    margin-top: 3rem;
    width: 700px;
    height: 450px;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.27);
}

.info_titeltext {
    background-color: lightgrey;
    padding: .4vh 20px 0px;
    font-size: 17px;
    margin-bottom: 2px;
    margin-top: 10px;
    height: 30px;
    width: 640px;
}

.info_text p{
  
}

.info_text {
    background-color: lightgrey;
    padding: 5px 20px 0px;
    font-size: 12px;
    height: 70px;
    width: 640px;
}

.kontakt {
    background-color: #e62613;
    position: absolute;
    top: 203px;
    left: 750px;
    width: 550px;
    height: 450px;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.27);
}

.billeder {
    float: right;
    margin-left: 10px;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    margin-right: 100px;
}

.instruktoer_title {
    font-size: 20px;
    line-height: 1px;
}

.instruktoer {
    color: #ffff;
    padding: 15px 30px 0px;
    margin-left: 20px;
    margin-top: 30px;

}

.skp_website {
    position: relative;
    color: #ffff;
    padding-left: 250px;
    bottom: 300px;
}

.dateHolder {
    display: flex;
    white-space: nowrap;
    padding-bottom: 100px;
}

.dateHolder .startdateholder {
    font-size: 10px;
    color: grey;
}

.dateHolder .enddateholder {
    margin-left: 81%;
    color: grey;
    font-size: 10px;
}
