/* {border-radius: 7px;}

body {
    font-family: 'poppins', serif;
    padding: 0px;
    margin: 0px;
}

.AARHUSTECH {
    font-size: 70px;
    padding: 0px 20px 0px;
}

.klokken {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 50px;
    padding: 0px 5px 0px;
}

.dato {
    position: absolute;
    top: 70px;
    right: 3%;
}

.aktiviteter {
    background-color: #e62613;
    background: linear-gradient(to bottom, #e62613, #a81b0e);
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    width: 97%;
    margin: 20px;
    color: white;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.27);
}

.netvaerksstatus {
    background-color: lightgrey;
    position: absolute;
    padding-top: 2px;
    padding-left: 10px;
    height: 25px;
    width: 145px;
    top: 127px;
    left: 87.5%;
}

.info {
    padding: 40px 30px 0px;
    margin-left: 2rem;
    margin-top: 3rem;
    width: 700px;
    height: 450px;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.27);
}

.info_titeltext {
    background-color: lightgrey;
    padding: .4vh 20px 0px;
    font-size: 17px;
    margin-bottom: 2px;
    margin-top: 10px;
    height: 30px;
    width: 640px;
}

.info_text p{

}

.info_text {
    background-color: lightgrey;
    padding: 5px 20px 0px;
    font-size: 12px;
    height: 70px;
    width: 640px;
}

.kontakt {
    background-color: #e62613;
    position: absolute;
    top: 203px;
    left: 750px;
    width: 550px;
    height: 450px;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.27);
}

.billeder {
    float: right;
    margin-left: 10px;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    margin-right: 100px;
}

.instruktoer_title {
    font-size: 20px;
    line-height: 1px;
}

.instruktoer {
    color: #ffff;
    padding: 15px 30px 0px;
    margin-left: 20px;
    margin-top: 30px;

}

.skp_website {
    position: relative;
    color: #ffff;
    padding-left: 250px;
    bottom: 300px;
}

.dateHolder {
    display: flex;
    white-space: nowrap;
    padding-bottom: 100px;
}

.dateHolder .startdateholder {
    font-size: 10px;
    color: grey;
}

.dateHolder .enddateholder {
    margin-left: 81%;
    color: grey;
    font-size: 10px;
}*/

* {
 border-radius: 7px;
}

body {
 background-color: #ffff;
 font-family: "poppins", serif;
 padding: 0px;
 margin: 0px;
}

.AARHUSTECH {
 font-size: 70px;
 padding: 0px 20px 0px;
}

.klokken {
 position: absolute;
 top: 2%;
 right: 2%;
 font-size: 50px;
 padding: 0px 5px 0px;
}

.dato {
 position: absolute;
 top: 70px;
 right: 3%;
}

.aktiviteter {
 background-color: #e62613;
 background: linear-gradient(to bottom, #e62613, #a81b0e);
 padding-top: 2px;
 padding-left: 10px;
 padding-right: 10px;
 height: 30px;
 width: 97%;
 margin: 20px;
 color: white;
 box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.27);
}

.netvaerksstatus {
 background-color: lightgrey;
 position: absolute;
 padding-top: 2px;
 padding-left: 10px;
 height: 25px;
 width: 145px;
 top: 127px;
 left: 87.5%;
}

.info {
 padding: 40px 30px 0px;
 margin-left: 2rem;
 margin-top: 3rem;
 width: 700px;
 height: 450px;
 box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.27);
}

.info_titeltext {
 background-color: lightgrey;
 padding: 0.4vh 20px 0px;
 font-size: 17px;
 margin-bottom: 2px;
 margin-top: 10px;
 height: 30px;
 width: 640px;
}

.info_text p {
}

.info_text {
 background-color: lightgrey;
 padding: 5px 20px 0px;
 font-size: 12px;
 height: 70px;
 width: 640px;
 position: relative;
}

.kontakt {
 background-color: #e62613;
 position: absolute;
 top: 203px;
 left: 750px;
 width: 550px;
 height: 450px;
 box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.4), 0 9px 30px 0 rgba(0, 0, 0, 0.27);
}

.billeder {
 float: right;
 margin-left: 10px;
 height: 80px;
 width: 80px;
 border-radius: 100px;
 margin-right: 100px;
}

.instruktoer_title {
 font-size: 20px;
 line-height: 1px;
}

.instruktoer {
 color: #ffff;
 padding: 15px 30px 0px;
 margin-left: 20px;
 margin-top: 30px;
}

.skp_website {
 position: relative;
 color: #ffff;
 padding-left: 250px;
 bottom: 300px;
}

.dateHolder {
 display: flex;
 white-space: nowrap;
 padding-bottom: 100px;
}

.startdateholder {
 margin-right: 85%;
 font-size: 10px;
 color: grey;
 position: absolute;
 bottom: 0;
}

.enddateholder {
 margin-left: 85%;
 color: grey;
 font-size: 10px;
 position: absolute;
 bottom: 0;
}

.ticker-container {
  position: fixed;
  float: left;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}

.ticker {
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  margin: 0 auto;
  width: 110%;
}

.news {
	width: 93%;
	height: 25%;
	float: right;
	color: black;
	padding-top: 17.5px;
}

.title {
  width: 6%;
  text-align: center;
  background: black;
  position: relative;
  color: white;
  padding: 10px;
  border-radius: 0%;
}

.title::after {
	position: absolute;
	content: "";
	right: -45%;
	border-left: 20px solid black;
	border-top: 33px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 33px solid transparent;
	top: 0px;
}

.title h5 {
  font-size: 28px;
  margin: 5%;
  font-weight: 5000;
}
.news marquee {
  font-size: 18px;
}

h4 {
  margin-right: 40px;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
