doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  script(src='../frontend/js/newsedit.js')
  script(src='https://code.jquery.com/jquery-3.5.1.min.js')
  head
p#demo
button(onclick='myFunction()') Try it
#container
        